html{
  scroll-behavior: smooth;
}

:root{
  --bg-color: black;
  --alt-bg--color: grey;

  --border-radius: 0.5rem;
  
  --text-color: #39FF14;
  --alt-text-color: #93E9BE;
}

body {
  margin: 0;
  font: 1.3rem Inconsolata, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  border:solid 1px;
  height: 40vh;
}